@(noFolder: List[(String, String)], folders: Map[String, List[(String, String)]])
@import java.math.BigInteger; var i=0

@listItem(name: String, url: String) = {
    <a href="@url" class="list-group-item task-list"><span class="glyphicon glyphicon-calendar"></span>@name</a>
}

@main(title = "all lists") {
    <div class="text-muted help-text">Click on a list to export it into your calender app</div>
    <div class="panel panel-default list-folder">
    @for((folder, items) <- folders) {
        @{i += 1}
        <div class="panel-heading">
            <a class="text-muted" data-toggle="collapse" href="#collapse-folder-@i">
                <span class="glyphicon glyphicon-folder-open"></span>@folder
            </a>
        </div>
        <div id="collapse-folder-@i" class="panel-collapse collapse in" aria-expanded="true">
            <div class="list-group">
                @for(i @ (name, url) <- items) {
                    @listItem(name, url)
                }
            </div>
        </div>
    }
    </div>
    <div class="list-group">
        @for(i @ (name, url) <- noFolder) {
            @listItem(name, url)
        }
    </div>
}